{% load static %}
{% load catalog_tags %}

<header>
  <nav class="container">
    <div class="nav__wrapper">
      <div class="nav__wrapper-top">
        <a class="nav__logo" href="{% url 'menu:index' %}"><img src="{% static 'img/icons/logo-light.svg' %}" alt="logo"></a>
        <div class="nav__schedule">
          <div class="nav__schedule-icon"><img src="{% static 'img/images/clock.webp' %}" alt="clock"></div>
            <div class="nav__schedule-text">
              <p>Ежедневно</p>
              <p>{{ current_filial.rezhim }}</p>
            </div>
        </div>
        <div class="nav__phone">
          <a class="nav__phone-item" href="tel:{{ current_filial.phone|remove_space_href}}">
            <img src="{% static 'img/images/call-calling.webp' %}" alt="calling">
            <span>{{ current_filial.phone }}</span>
          </a>
          <a class="nav__phone-item" href="#">
            <img src="{% static 'img/images/telegram_white.webp' %}" alt="telegram_white">
            <span>Telegram</span>
          </a>
        </div>
        <div class="nav__search">
          <form class="k_searchbox" method="GET" action="{% url 'search:results' %}"> 
            <input type="search" name="search" placeholder="Поиск" value="{{ search_text }}">
            <button class="nav__search-icon" type="button"><img src="{% static 'img/images/search.webp' %}" alt="search"></button>
          </form>
        </div>
          <a class="nav__cart" href="{% url 'checkout:checkout_page' %}" title="Перейти в корзину">
              <sup id="header-cart-count" class="dynamic-cart-counter">{{ cart_total_items|default:0 }}</sup>
              <img src="{% static 'img/images/shopping-cart.webp' %}" alt="Корзина">
          </a>
      </div>
      <div class="nav__wrapper-bottom">
        {# <a href="/catalog/">Каталог</a> #}
        <a href="{% url 'menu:menu_catalog' hierarchy='catalog' %}" {# Lien de fallback #}
          class="nav-catalog-trigger" {# Classe pour JS de survol #}
          {# Attributs pour que le JS global puisse charger le contenu #}
          data-menu-content-url="{% url 'menu:ajax_menu_dropdown_content' %}"
          aria-haspopup="true" {# Pour l'accessibilité #}
          aria-expanded="false" {# Géré par JS #}
          >Каталог</a>
        <a href="/stroitelstvo/">Строительство</a>
        <a href="/uslugi/">Услуги</a>
        <a href="/dostavka-i-oplata/">Доставка и оплата</a>
        <a href="/contacts/">Контакты</a>
        <button type="button" data-open="recall">Заказать звонок</button>
      </div>
    </div>
  </nav>
</header>
<!-- MOBILE HEADER-->
{% include "includes/mobile-header/mobile-header.html" %}
<!-- DYNAMIC HEADER-->
{% include "includes/header/dynamic-header.html" %}
<!-- CATALOG MENU -->
{% include "menu/catalog-menu.html" %}
<!-- CATALOG MOBILE-->
{% include "menu/menu-mobile.html" %}
