{% load static %}

<div class="modal modal-service" id ="service-order-modal">
    <div class="modal__close modal__close-service">
        <svg width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <line x1="1" y1="15" x2="15" y2="1" stroke="#B2B9C1" stroke-width="2"></line>
            <line x1="1" y1="1" x2="15" y2="15" stroke="#B2B9C1" stroke-width="2"></line>
        </svg>
    </div>
    <span id="service-order-modal-title">Заказ услуги</span>
    <div class="modal-service_top">
        <div class="modal-service__thumb">
            <img id="modal-service-image" src="{% static 'img/images/default_image.webp' %}" alt="Изображение услуги">
        </div>            
        <div class="modal-service__data">
            <div id="modal-service-name">Название товара</div>
        </div>
    </div>
    <form class="modal__form" id="service-order-modal-form" method="post" action="{% url 'checkout:send_form_order' %}" onsubmit="return send_form_order('service-order-modal-form');">
        {% csrf_token %}
        <input type="hidden" name="form_input" value="">
        <input type="hidden" name="type" id="modal-order-type" value="">
        <input type="hidden" name="service_id" id="modal-hidden-service-id" value="">
        <input type="hidden" name="service_title" id="modal-hidden-service-title" value="">
        <input type="hidden" name="comment" id="modal-hidden-comment" value="">
        <input type="hidden" name="email" value="service@leto-moskva.ru">

        <input type="text" name="name" placeholder="Имя">


        <input type="tel" name="phone" placeholder="Телефон*" required data-phone>
        <div id="phone-error" class="phone-error" style="display:none; color:red;">Неправильный номер телефона</div>
        
        <div class="block__agreement">
            <label>
                <input type="checkbox" name="agreement" checked="checked" required>
                <div class="custom-icon"></div>
                <span>Отправляя форму, вы даете согласие на <a href="/policy/" target="_blank" class="contacts-form-link">обработку персональных данных</a></span>
            </label>
            
            <div class="invalid-feedback error js-error" style="display:none;"></div>
        
            <button type="submit" class="submit-form-btn">Отправить</button>
        </div>
    </form>
</div>
