{% load static %}

<div class="header-mobile">
  <div class="container">
    <div class="header-mobile__wrapper">
        <div class="header-mobile__menu-btn" data-open="mobile-menu">
          <div class="line"> </div>
          <div class="line"> </div>
          <div class="line"> </div>
        </div>
        <div class="header-mobile__box"> 
          <button type="button" data-open="recall-mobile"><img src="{% static 'img/images/call-calling.webp' %}" alt="call-calling"></button>
          <button type="button"><img src="{% static 'img/images/shopping-cart.webp' %}" alt="hopping-cart"></button>
        </div>
        <a class="header-mobile__logo" href="{% url 'menu:index' %}"><img src="{% static 'img/images/logo-mobile.webp' %}" alt="logo-mobile"></a>
    </div>
  </div>
</div>
<!-- SEARCHINPUT -->
{% include "includes/mobile-header/mobile-search.html" %}