{% load static %}
{% load catalog_tags %}

<main>
    <div class="background"> <img src="{% static 'img/images/dostavka_cover.webp' %}" alt=""></div>
    <div class="container">
        <div class="cover">
            <div class="cover-wrapper">
                <div class="text">
                    <h1>Доставка по всей России</h1>
                </div>
            </div>
        </div>
    </div>
    {{ current_menu.description|safe }}
</main>
<!-- FORM CALCULATE COST -->
{% include "includes/s-all/s-all-form-calcul/s-all-form-calcul.html" %}
