{% load static %}

<div class="category__mobile">
    <div class="category__mobile-caption">
        <span>Фильтры</span>
        <img src="{% static 'img/images/filter.webp' %}" alt="filter">
    </div>
    <div class="category__mobile-filters">
        <div class="category-filters__item">
            <div class="category-filters__item-caption">Тип фильтра</div>
            <form class="category-filters__wrapper" action="">
                <div class="category-filters__item-filter">
                    <label>
                        <input type="checkbox" name="">
                        <div class="custom-icon"></div>
                        <div>Песочный</div>
                    </label>
                    <div class="amount">27</div>
                </div>
            </form>
        </div>
        <div class="category-filters__item">
            <div class="category-filters__item-caption">Производитель</div>
            <form class="category-filters__wrapper" action="">
                <div class="category-filters__item-filter">
                    <label>
                        <input type="checkbox" name="">
                        <div class="custom-icon"></div>
                        <div>Aquaviva</div>
                    </label>
                    <div class="amount">17</div>
                </div>
                <div class="category-filters__item-filter">
                    <label>
                        <input type="checkbox" name="">
                        <div class="custom-icon"></div>
                        <div>Hayward</div>
                    </label>
                    <div class="amount">11</div>
                </div>
                <div class="category-filters__item-filter">
                    <label>
                        <input type="checkbox" name="">
                        <div class="custom-icon"></div>
                        <div>Aquaviva</div>
                    </label>
                    <div class="amount">17</div>
                </div>
                <div class="category-filters__item-filter">
                    <label>
                        <input type="checkbox" name="">
                        <div class="custom-icon"></div>
                        <div>Hayward</div>
                    </label>
                    <div class="amount">11</div>
                </div>
                <div class="category-filters__item-filter">
                    <label>
                        <input type="checkbox" name="">
                        <div class="custom-icon"></div>
                        <div>Aquaviva</div>
                    </label>
                    <div class="amount">17</div>
                </div>
                <div class="category-filters__item-filter">
                    <label>
                        <input type="checkbox" name="">
                        <div class="custom-icon"></div>
                        <div>Hayward</div>
                    </label>
                    <div class="amount">11</div>
                </div>
            </form>
        </div>
    </div>
</div>