{% load static %}
{% load catalog_tags %}

<main>
    <div class="background"> <img src="{% static 'img/images/cover.webp' %}" alt=""></div>
    <div class="container">
        <div class="cover">
            <div class="cover-wrapper">
                <div class="text">
                    <h1>Строительство бассейнов под ключ</h1>
                    <p>Выезд инженера на объект БЕСПЛАТНО</p><a href="#">Вызвать специалиста</a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="container">
        <div class="infoblock">
            <div>
            <p>Оказываем профессиональный цикл услуг по строительству бассейнов и хаммамов.</p>
            <ul>
                <li>Опыт работы более 20 лет.</li>
                <li>100+ выполненных проектов.</li>
                <li>Удобные способы оплаты: наличный расчет, банковская карта, безналичный расчет.</li>
            </ul>
            <p>Наш специалист проконтролирует все этапы проводимых работ, а также обучит Вас базовым правилам
                пользования оборудованием при необходимости.</p>
            </div>
            <div>
            <p>Строим качественно и быстро, не закупаем лишних материалов и не навязываем лишних работ.</p>
            <p> <b>Если Вы планируете построить бассейн своими силами – поможем в подборе, закупке и доставке материалов
                максимально выгодно, а также ответим на все вопросы, возникшие в процессе вашего строительства.</b></p>
            <p>Ждем Вас среди наших довольных клиентов!</p>
            <p>Строим качественно и быстро, не закупаем лишних материалов и не навязываем лишних работ.</p>
            </div>
        </div>
        <div class="infoblock">
            <div class="infoblock__text">
            <div class="infoblock__text-sup">Наш подход</div>
            <div class="infoblock__text-title">Что такое строительство бассейнов под&nbsp;ключ</div>
            <div class="infoblock__text-description">
                <p>Строительство бассейнов под ключ – это комплексная услуга, включающая в себя все этапы создания
                бассейна: от проектирования до ввода в эксплуатацию. </p>
                <p>Этот подход предполагает полную ответственность исполнителя за результат на каждом этапе работы,
                начиная с подготовки места и заканчивая запуском готового бассейна. </p>
                <p>Клиент получает полностью готовый к использованию объект, минуя необходимость заниматься
                организационными и техническими вопросами. </p>
                <p>Наша компания занимается строительством новых бассейнов в Москве и Московской области. В нашей
                компетенции осуществление открытых проектов на участке и закрытых внутри домов. Заказать проект бассейна
                под ключ можно, связавшись в нами по телефону +79895747077.</p>
            </div>
            </div>
            <div class="infoblock__image"> <img src="{% static 'img/images/info-img_1.webp' %}" alt=""></div>
        </div>
        <div class="infoblock">
            <div class="infoblock__text">
            <div class="infoblock__text-sup">Преимущества</div>
            <div class="infoblock__text-title">Преимущества строительства бассейнов по&nbsp;цене под&nbsp;ключ</div>
            <div class="infoblock__text-description">
                <p>Основное преимущество строительства бассейна под ключ заключается в фиксированной цене на весь комплекс
                работ. Это позволяет заказчику заранее планировать свой бюджет, избегая непредвиденных расходов.</p>
                <p>Кроме того, такой подход сокращает общее время строительства, так как одна команда контролирует все
                процессы от начала до конца. Это обеспечивает высокое качество работы и снижает риск возникновения
                ошибок на разных этапах. </p>
            </div>
            </div>
            <div class="infoblock__image"> <img src="{% static 'img/images/info-img_2.webp' %}" alt=""></div>
        </div>
        <div class="stages">
            <div class="infoblock__text">
            <div class="infoblock__text-sup">ЭТАПЫ</div>
            <div class="infoblock__text-title">Этапы строительства бассейна</div>
            </div>
            <div class="stages__table">
            <p>Строительство бассейнов в Москве начинается с подготовки проекта. Мы берем на себя все вопросы
                организации и подготовки строительства, от клиента требуется только одобрение и ожидание. В проекте всегда
                учитываются пожелания заказчика, и после его согласования мы приступаем непосредственно к строительным
                работам. Каждый этап – это сложный комплекс работ, который выполняет команда квалифицированных
                специалистов. Подробнее о каждом этапе строительства:</p>
            <div class="stages__table-row">
                <div class="number">(1)</div>
                <div class="text">Подготовка котлована <p>Первым шагом в строительстве бассейна является подготовка
                    котлована. Она включает в себя выемку земли, согласно проектным размерам будущего бассейна, при этом
                    учитывается необходимость небольшого запаса по периметру для установки опалубки и обеспечения
                    прочности конструкции. Важно тщательно выровнять дно и стенки котлована, чтобы избежать будущих
                    проблем с герметичностью и долговечностью бассейна.</p>
                </div>
            </div>
            <div class="stages__table-row">
                <div class="number">(2)</div>
                <div class="text">Монтаж опалубки <p>Следующий этап – установка опалубки, которая служит формой для
                    будущей чаши бассейна. Опалубка должна быть установлена точно и надежно, так как любые неточности на
                    этом этапе могут привести к серьёзным дефектам. Опалубка может быть изготовлена из различных
                    материалов, включая дерево и металл, и должна быть достаточно прочной, чтобы выдержать давление
                    заливаемого бетона.</p>
                </div>
            </div>
            <div class="stages__table-row">
                <div class="number">(3)</div>
                <div class="text">Армирование <p>Перед заливкой бетона необходимо выполнить армирование чаши бассейна.
                    Этап включает в себя установку металлического каркаса на дно и стенки котлована. Размеры и
                    распределение арматурных стержней строго регламентируются проектной документацией и предварительными
                    расчётами, что обеспечивает дополнительную прочность и долговечность конструкции.</p>
                </div>
            </div>
            <div class="stages__table-row">
                <div class="number">(4)</div>
                <div class="text">Бетонирование <p>Заливка бетона может производиться либо одноэтапно, либо двухэтапно, в
                    зависимости от проекта и условий строительства. Важно обеспечить равномерное распределение бетона по
                    всей площади котлована, избегая пустот и воздушных карманов. После заливки бетон необходимо тщательно
                    уплотнить для предотвращения образования трещин и обеспечения герметичности чаши.</p>
                </div>
            </div>
            <div class="stages__table-row">
                <div class="number">(5)</div>
                <div class="text">Оштукатуривание <p>После бетонных работ приступаем к выравниванию стен и дна штукатурным
                    слоем. Благодаря кропотливой работе наших специалистов бассейн приобретает идеальные размеры гладкую
                    поверхность.</p>
                </div>
            </div>
            <div class="stages__table-row">
                <div class="number">(6)</div>
                <div class="text">Гидроизоляция<p>После того, как штукатурка полностью затвердеет, проводится нанесение
                    гидроизоляционного слоя. Это может быть специальная мембрана или жидкая гидроизоляция, которая
                    наносится на поверхность чаши. Затем проводятся гидроиспытания для проверки герметичности конструкции.
                </p>
                </div>
            </div>
            <div class="stages__table-row">
                <div class="number">(7)</div>
                <div class="text">Отделка бассейна<p>После успешного прохождения гидроиспытаний начинается отделка чаши
                    бассейна. В зависимости от предпочтений заказчика и проектных решений можно использовать различные
                    материалы для отделки, включая пленку ПВХ, керамическую плитку или мозаику. Отделочные работы должны
                    выполняться аккуратно, чтобы не повредить гидроизоляционный слой.</p>
                </div>
            </div>
            <div class="stages__table-row">
                <div class="number">(8)</div>
                <div class="text">Монтаж оборудования<p>На этом этапе устанавливаются системы фильтрации, циркуляции воды,
                    обогрева, а также, другое оборудование для поддержания чистоты воды в бассейне. Качественный монтаж
                    оборудования является ключевым фактором для долгосрочной и безопасной эксплуатации бассейна.</p>
                </div>
            </div>
            <div class="stages__table-row">
                <div class="number">(9)</div>
                <div class="text">Запуск<p>Завершающий этап строительства – это наполнение плавательного бассейна водой и
                    запуск всех систем его поддержки. Также проводится инструктаж заказчика по правилам эксплуатации и
                    обслуживанию бассейна, чтобы обеспечить его долговечность и безопасность использования.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="background__image"> <img src="{% static 'img/images/background_construction.webp' %}" alt=""></div>
    <div class="container">
        <div class="infoblock fourth">
            <div class="infoblock__text">
            <div class="infoblock__text-sup">ЭКСПЛУАТАЦИЯ</div>
            <div class="infoblock__text-title">Эксплуатационный период бассейна</div>
            <div class="infoblock__text-description">
                <p>При правильном строительстве и соблюдении всех технологических процессов эксплуатационный период
                бассейна может составлять 20 лет и более. Важным условием долговечности является регулярное техническое
                обслуживание, включающее чистку воды и стенок бассейна, проверку работоспособности систем фильтрации и
                обогрева, а также своевременную замену гидроизоляционного слоя при необходимости. </p>
                <p>Соблюдение этих правил позволит наслаждаться качественным и безопасным отдыхом у собственного бассейна
                на протяжении многих лет. Эксплуатационный период для открытых бассейнов на участке может быть ниже, чем
                для закрытых. Если вам сложно определиться с выбором, загляните в наш каталог готовых решений, либо мы
                разработаем для вас индивидуальный проект.</p>
            </div>
            </div>
            <div class="infoblock__image"> <img src="{% static 'img/images/info-img_3.webp' %}" alt=""></div>
        </div>
        <div class="infoblock last">
            <div class="infoblock__text">
            <div class="infoblock__text-sup">Ценообразование</div>
            <div class="infoblock__text-title">Цены на строительство бассейнов под ключ  </div>
            <div class="infoblock__text-description">
                <p>Цена рассчитывается индивидуально: стоимость строительства бассейна в частном доме включает в себя все
                работы и зависит от требований заказчика к размерам, внешнему виду и дополнительным функциям либо
                элементам бассейна. Все эти моменты уточняются и оговариваются на этапе проектирования строительства
                бассейнов. Проект включает в себя перечисление всех требований, а также техническую документацию с
                учётом нормативов. </p>
                <p>Окончательная цена фиксируется в проектной документации. Чтобы узнать примерную стоимость заранее,
                свяжитесь с нами по телефону, указанному на сайте.</p>
                <p>Примеры проектов по строительству бассейнов и цены можно также найти на нашем сайте в соответствующих
                разделах.</p>
            </div>
            </div>
            <div class="infoblock__image"> <img src="{% static 'img/images/info-img_4.webp' %}" alt=""></div>
        </div>
    </div> {% endcomment %}
    {{ current_menu.description|safe }}
</main>