{% load static %}


<div class="background"><img src="{% static 'img/images/cover.webp' %}" alt=""></div>
<div class="container">
    <div class="cover">
        <div class="cover-wrapper">
            <div class="text">
                <h1>Оборудование для&nbsp;бассейнов</h1>
                <p>Продажа оборудования для&nbsp;бассейнов с доставкой по&nbsp;ЕАЭС, России, Москве&nbsp;и&nbsp;МО</p>
                <a href="/catalog/">Перейти в каталог</a>
            </div>
        </div>
    </div>
</div>